---
layout: markdown_page
title: GitLab releases
description: "On this page you can find information on official GitLab Releases. Learn more!"
canonical_path: "/releases/"
extra_css:
  - releases.css
---

Information about recent features added in our official GitLab releases can be found on the [GitLab project releases](https://gitlab.com/gitlab-org/gitlab/-/releases) page.

GitLab has been releasing on the 22nd of the month for the last <%= count %> months straight! For a list of release posts including patch releases, please check the blog category [releases](/releases/categories/releases/). Future releases, and their important features, can be found on our [upcoming releases](/upcoming-releases/) page. You can also view [upcoming features by product tier](/direction/paid_tiers/).

Information about the features and release currently running on [GitLab.com](https://gitlab.com) can be viewed at the [GitLab.com release](/releases/gitlab-com/) page.

You can compare all the feature changes between two different releases by using the [Release Compare Page](https://gitlab-cs-tools.gitlab.io/what-is-new-since/?). Due to the large number of improvements in each release, it also supports exporting to CSV.

Please check out the changelog to see all the named changes:
- [GitLab Community Edition](https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CHANGELOG.md)
- [GitLab Enterprise Edition](https://gitlab.com/gitlab-org/gitlab-ee/blob/master/CHANGELOG.md)
- [GitLab Runner](https://gitlab.com/gitlab-org/gitlab-runner/blob/master/CHANGELOG.md)

Changes prior to GitLab 8.0 can be seen [here](https://gitlab.com/gitlab-org/gitlab-ce/blob/master/changelogs/archive.md)

If you want to know how the release works please see the [monthly release template](https://gitlab.com/gitlab-org/release-tools/blob/master/templates/monthly.md.erb) in the [release tools repository](https://gitlab.com/gitlab-org/release-tools/tree/master).
