- variant = 'test'
%div.experiment-container.experiment-test

  .row.flex-row.plans
    - test_pricing_plans = data.pricing.plans.dup
    -# Must use .dup otherwise you're referencing the same object when copying the variable.
    - test_plans = test_pricing_plans.delete_if{ |k,v| k.id.include?("bronze-starter") }
    - test_plans.each_with_index do |plan_test, index|
      - free = plan_test.id == 'free'
      - unless plan_test.id == 'bronze-starter'
        %div{class: "col-md-3 plan plan-#{plan_test.id}"}
          .image= image_tag "pricing/#{plan_test.id}.svg"
          .content
            .title= plan_test.title
            .description= plan_test.description
            .price $#{plan_test.monthly_price}
            .price-monthly /user/month
            - unless free
              .price-annually (USD, billed annually at $#{plan_test.monthly_price * 12})
            %div{ class: "btn start-#{plan_test.id}", data: { target: "##{plan_test.id}-modal-#{variant}", toggle: 'modal' } }= free ? 'Start now' : 'Buy now'
          .features
            .feature-title= free ? 'Includes' : "All the benefits of #{test_plans[index - 1].title}&nbsp;+"
            %ul
              - plan_test.features.each do |feature|
                %li= feature.title
            .compare{ data: { target: "#compare-features-#{plan_test.id}-modal-#{variant}", toggle: 'modal' } } Compare features

    -# widen the columns since we're removing one.
    :css
      @media (min-width: 992px) {
        .pricing-page .experiment-test .plan {
          max-width: 400px;
        }
      }

- data.pricing.plans.each do |plan|
  -# generate the "start now / buy now" self-hosted vs saas modal so it can be displayed when clicking a related button
  = partial '/pricing/_modal', locals: plan_modal_options(plan, variant)
  -# generate the feature comparison modal so it can be displayed when clicking a compare button
  -# compare_features_modal_options is generated by pricing_page_helpers.rb
  = partial '/pricing/_modal', locals: compare_features_modal_options(plan, variant)
