.hero-container.blhero2.skhero1
  = image_tag "/images/home/home-illustration-sept-2020-01.svg", class: "hero-background-full-image", style: "max-height: 500px; opacity: .7; position: absolute; right: -5%; top: 40px; width: 70%;"
  .hero-content
    .row
      .col-md-8
        %h1.bold-headline.margin-top0.hero-item
          The first single application for the entire DevOps lifecycle
        .hero-item
          %h3 
            Get started free for 30 days
        .buttons-container.margin-top20.hero-item.u-margin-top-sm
          = link_to "https://gitlab.com/-/trial_registrations/new?glm_source=about.gitlab.com&glm_content=free-trial", class: "btn cta-btn large orange-light" do
            Try GitLab for FREE

%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}

<script src="/javascripts/home.js" type="text/javascript" data-cookieconsent="ignore"></script>
